<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
	    http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">  
	<context:component-scan base-package="org.elasticflow" /> 
	<util:properties id="nodeSystemInfo" location="classpath:config/node.properties"></util:properties>

	<bean id="SocketCenter" class="org.elasticflow.node.SocketCenter"/> 
	<bean id="FlowCenter" class="org.elasticflow.node.FlowCenter" /> 
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"/>
	<bean id="taskJobCenter" class="org.elasticflow.task.schedule.TaskJobCenter"/>
	<bean id="HttpReaderService" class="org.elasticflow.reader.service.HttpReaderService"/> 
	<bean id="SearcherService" class="org.elasticflow.searcher.service.SearcherService"/> 
	<bean id="ComputerService" class="org.elasticflow.computer.service.ComputerService"/>  
	<bean id="EFLOWS" class="org.elasticflow.node.startup.Run">  
		<constructor-arg type="String" index="0" value="#{systemProperties['config']}/config.properties"/>
	</bean>
</beans>